// @FIXME: Improve style structure
// Colors

// Blue
$blue-100: #0098ff;
$blue-200: #03045e;

// White
$white-100: #fff;
$white-200: #f6f6f6;
$white-300: #f7f8fd;
$white-400: #f5f5f5;
$white-500: #fbfbfb;
$white-600: #9e9e9e;
$white-7: #d9d9d9;
// Gray
$gray-100: #b4b4cf;
$gray-200: #7f80ad;

// Black
$black-100: #000;
$black-2: #232323;

// Yellow
$yellow-100: #ffff00;
$yellow-2: #bfc765;

// Green
$green-100: #779341;
$green-2: #00c084;

// Red
$red-1: #ff7171;

// Fonts
$poppins: 'Poppins', sans-serif;
